

html {
  height: 100%;
}

body{
  height: 100%;
  --textPrimary: rgb(0, 0, 48);
  --backgroundPrimary: antiquewhite;
  --backgroundAccent: cornflowerblue;
  --backgroundTertiary: rgb(190, 212, 253);
}

* {
  box-sizing: border-box;
  color: var(--textPrimary)
}

h1, h2, h3 {
  text-align: center;
}

h2, h3 {
  margin-top: 0rem;
}

.page-wrapper, .project-view, .task-container {
  display: flex;
  flex-direction: column;
}



.page-wrapper {
  background-color: var(--backgroundPrimary);
  height: 100%;
}

nav{
  background-color: var(--backgroundAccent);
  display: flex;
  justify-content: center;
}

.task-containers {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.task-container {
  border: solid 2px var(--backgroundAccent);
  border-radius: 20px;
  width: 30%;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--backgroundTertiary);
}

h2 {
  margin-bottom: 0px;
}

.task {
  border: solid 2px var(--backgroundAccent);
  padding: 1rem;
}

.task-priority::before {
  content: "Priority: ";
  font-weight: bold;
}

.task-date::before {
  content: "Due: ";
  font-weight: bold;
}

button {
  margin: 0px;
  width: 30%;
  padding: 1rem;
  font-weight: bold;
  background-color: var(--backgroundPrimary);
  border: solid 2px var(--backgroundAccent);
  border-radius: 5px;
}

button:hover {
  background-color: var(--backgroundTertiary);
}

button:active {
  background-color: var(--backgroundAccent);
}

button {
  display: fixed;
  offset: 200px;
}

