/* General Styles */

html {
  height: 100%;
}

body{
  height: 100%;
  --textPrimary: rgb(0, 0, 48);
  --backgroundPrimary: antiquewhite;
  --backgroundAccent: cornflowerblue;
  --backgroundTertiary: rgb(190, 212, 253);
}

.dimmed {
  opacity: 0.3;
}

* {
  box-sizing: border-box;
  color: var(--textPrimary)
}

h1, h2, h3 {
  text-align: center;
}

h2, h3 {
  margin-top: 0rem;
}

.page-wrapper, .project-view, .task-container {
  display: flex;
  flex-direction: column;
}



.page-wrapper {
  background-color: var(--backgroundPrimary);
  height: 100%;
}

/* Navbar  */


nav{
  background-color: var(--backgroundAccent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

nav > * {
  flex: 0 0 max-content;
}

nav > h1 {
  width: 200%;
  margin-inline: 5rem;
}



.new-project, .delete-project, .select-project {
  width: 15rem;
  height: 50%;
  line-height: 50%;

  border: solid 2px var(--textPrimary);
}

/* Project Header Bar */
.project-header-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.project-header-bar > * {

}

.project-header{
  width: max-content;
  flex-grow: 0;
}



/* Edit Icon */

.fa-edit, .fa-save {
  opacity: 0.3;
  position: relative;
  transform-origin: left;
  width: auto;
  flex-grow: 0;
  
}

.fa-edit {

}

.fa-save {

}

.fa-edit:hover, .fa-save:hover {
  opacity: 1;
}

.fa-edit:active, .fa-save:active {
  transform: scale(1.1);
  
}



/* Task boxes  */

.task-containers {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.task-container {
  border: solid 2px var(--backgroundAccent);
  border-radius: 20px;
  width: 30%;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--backgroundTertiary);
}

h2 {
  margin-bottom: 0px;
}

.task {
  border: solid 2px var(--backgroundAccent);
  padding: 1rem;
  position: relative;
}

.task-priority::before {
  content: "Priority: ";
  font-weight: bold;
}

.task-date::before {
  content: "Due: ";
  font-weight: bold;
}

/* Buttons */

button {
  margin: 0px;
  padding: 1rem;
  font-weight: bold;
  background-color: var(--backgroundPrimary);
  border: solid 2px var(--backgroundAccent);
  border-radius: 5px;
}

button:hover {
  background-color: var(--backgroundTertiary);
}

button:active {
  background-color: var(--backgroundAccent);
}

.new-task {
  width: 50%;
  margin-left: 25%;
}

.create-task {
  border-color: var(--textPrimary);
}

.submit-project-name {
  margin-top: 1rem;
  border-color: var(--textPrimary);
}

/* Pop-Ups */

.form-container {
  position: fixed;
  background-color: var(--backgroundAccent);
  border: solid 2px var(--textPrimary);
  padding: 2rem;
  border-radius: 25px;
  width: auto;
  left: 33%;
  right: 33%;
  top: 20%;
  opacity: 1;
}

.pop-up-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-inline: 20%;
  margin-block: 5%;
  gap: 0.3rem;
  opacity: 1;
}

textarea {
  max-width: 100%;
}

input, select {
  height: 2rem
}

label {
  font-weight: bold;
}

/* Close Button */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.delete {
  position: absolute;
  opacity: 0.3;
}
.close:hover, .delete:hover {
  opacity: 1;
}
.close:before, .close:after, .delete:before, .delete:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 4px;
  background-color: #333;
}

.delete:before, .delete:after {
  height: 25px;
}
.close:before, .delete:before {
  transform: rotate(45deg);
}
.close:after, .delete:after {
  transform: rotate(-45deg);
}

.close:active, .delete:active {
  transform: scale(1.1);
}
/* Tick Button */

.check {
  position: absolute;
  left: 90%;
  display: inline-block;
  transform: rotate(45deg);
  height: 20px;
  width: 10px;
  border-bottom: 4px solid black;;
  border-right: 4px solid black;;
  opacity: 0.3;
}

.check:hover {
  opacity: 1;
}

.check:active {
  transform: rotate(45deg) scale(1.1);
}

.complete {
  border-color: var(--textPrimary);
  opacity: 1;
}

.complete:hover {
  opacity: 0.3;
}




/* Maximise Button */
.maximise, .minimise {
  position: absolute;
  left: 90%;
  top: 2.8rem;
  opacity: 0.3;
  border-bottom: 0px;
}
.maximise:hover, .minimise:hover {
  opacity: 1;
}
.maximise:before, .maximise:after, .minimise:after {
  position: absolute;
  left: 5px;
  content: ' ';
  height: 20px;
  width: 4px;
  background-color: #333;
}

.maximise:after, .minimise:after {
  transform: rotate(-90deg);
}



.maximise:active {
  transform: scale(1.1);
}



/* hidden */

.hidden {
  display: none;
}

